header {
    display: flex;
    height: 100px;
    width: 100%;
    background: greenyellow;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

header a input {
    height: 50px;
    font-size: 20px;
}

header a input:hover {
    background: yellow;
}

div form {
    font-size: 20px;
}

.profile_header {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.main_image-block {}

.main_image-block img {
    max-height: 200px;
}

.welcome_message p {
    font-size: 20px;
}

.image_instances {
    display: flex;
    gap: 20px;
}

.image_instances-img {
    max-height: 100px;
}

.images_interface {
    display: flex;
    height: 100px;
    width: 100%;
    margin: 10px;
    background: greenyellow;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.images_interface a input {
    height: 50px;
    font-size: 20px;
}

.images_interface a input:hover {
    background: yellow;
}

.image_button {
    height: 50px;
    font-size: 20px;
}

.image_button:hover {
    background: yellow;
}
.home_button {
    margin: 20px;
}